* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #f9f8ff;
}

a.class1 {
  color: #f9f8ff;
  text-decoration: none;
}

a.class2 {
  color: #735ce7;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 2em;
  color: rgb(31, 29, 33);
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: rgb(31, 29, 33);
  margin-bottom: 5px;
}

p.class1 {
  font-size: 1em;
  color: rgb(31, 29, 33);
  padding: 0px;
}

p.class2 {
  font-size: 0.9em;
  font-weight: 900;
  color: #9794a5;
  padding: 5px;
}

p.class3 {
  font-size: 1em;
  color:rgb(29, 31, 33);
  padding: 5px;
}

li {
  font-size: 1em;
  color: rgb(31, 29, 33);
  padding: 10px;
}

li.close {
  font-size: 1em;
  color: rgb(31, 29, 33);
  padding: 10px;
}

header,
footer {
  background-color: rgb(31, 29, 33);
  padding: 20px 50px;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}

.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
}

nav a {
  margin-left: 30px;
}

.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

#div1 h1,
#div1 h2 {
  width: 60%;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 20%;
}

.box-shadow img {
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
        0 0 20px rgba(0, 0, 0, 0.2),
        0 0 30px rgba(0, 0, 0, 0.1);
}

.accueil-introduction p.class1 {
  padding-top: 0;
  padding-bottom: 10px; /* or 0 if you want it tight */
}

.accueil-introduction ul.class1 {
  padding-left: 60px;   /* moves bullets to the right */
  margin-top: 0;         /* removes extra space above */
}

.accueil-introduction ul.class1 li {
  padding: 10px 0;        /* optional: reduce spacing between bullets */
}

.job-title {
  font-family: 'Manerope', sans-serif;
  font-size: 1.4em;
  font-weight: 20;
  color: rgb(31, 29, 33);
  margin-top: 0;
  margin-bottom: 10px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  margin: auto;
  gap: 50px; /* 👈 ESPACE entre la photo et le texte */
  margin-bottom: 0px;
}

section {
  padding: 30px 80px;
}

.accueil-introduction a.class2 {
  text-decoration: none;
}

.accueil-introduction a.class2:hover {
  text-decoration: underline;
}